html,
body {
	font-family: 'Noto Sans', monospace !important;
	color: #53595d !important;
	background-color: #f5f7f9 !important;
}
.searchBar {
	text-align: center;
	margin: 30px;
}
.searchBar input {
	min-width: 30%;
	border: none;
	border-bottom: 3px solid #d82026;
	background-color: #f5f7f9;
	outline: none;
	padding: 5px 15px;
	transition-duration: 1s;
}
.searchBar input:focus {
	min-width: 60%;
	transition-duration: 0.2s;
}
.video-title {
	border-bottom: 1px solid rgb(216, 32, 38);
	/*padding-bottom: 0px;*/
	font-weight: 900;
	font-size: 1.2em;
}
.video-desc {
	font-size: 0.9em;
}
.details {
	margin-top: 20px;
}
.video-item {
	cursor: pointer;
}
.video-item:hover {
	background: #f3f3f3;
}
.video-detail {
	margin-bottom: 20px;
}
